html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Comic Sans", sans-serif;
  color: #000000;
  background: #cef81b;
  margin: 0;
}
.container {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
.link {
  text-decoration: none;
}

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.start {
}
.header-container {
  display: flex;
  align-items: center;
  width: 1606px;
  margin: 44px 117px 179px 197px;
}
.navigation {
}
.action {
  font-family: "CabinetGrotesk-Extrabold", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #000000;
  text-transform: uppercase;
}

.logo-header {
  width: 89px;
  height: 89px;
}
.nav-list {
  display: flex;
  gap: 120px;
  align-items: center;
  flex-direction: row;
}
.list {
}
.nav-items {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  line-height: 25px;

  text-transform: uppercase;

  color: #000000;
}
.hero-container {
  position: relative;
}
.lefy-side-hero {
  width: 800px;
  margin-left: 194px;
  margin-bottom: 180px;
}
.hero-text {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 149px;
  line-height: 125px;
  text-transform: uppercase;
  text-shadow: -10px -15px 0px #ffffff;
}
.second-hero-text {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 149px;
  line-height: 209px;

  text-shadow: -10px -15px 0px #ffffff;
  margin-left: 397px;
}
.hero-img-background {
  position: absolute;
  width: 788.17px;

  left: 934px;
  top: -196px;
}
.brain-img {
  position: absolute;
  width: 498.97px;
  left: 1113px;

  top: -156px;
}
.hero-text-paragraph {
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;

  color: #000000;
}
.hero-arrow {
  width: 26px;
  margin-left: 935px;
  margin-bottom: 60px;
}

.contact-list {
  position: relative;
  left: 1800px;
  top: -507px;
}

.black-section {
  position: relative;
  width: 1840px;
  margin: 0px 40px 0px 40px;
  background-color: #282828;
  border-radius: 110px;
}

.hero-black-seaction {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 95px;
  line-height: 100%;

  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #cef81b;
  padding-top: 160px;
  margin-bottom: 61px;
}
.brainContent {
  display: flex;
}
.leftSideBlackImg {
  margin-left: 160px;
  margin-right: 75.64px;
  max-width: 832.36px;
  max-height: 894px;
}
.rightSideBlack {
}
.rightSideHeroText {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;

  text-transform: uppercase;

  color: #cef81b;
  margin-left: 94px;
}
.rightSideTxt {
  font-family: "CabinetGrotesk-Light", sans-serif;
  max-width: 623px;
  font-style: normal;
  font-weight: 300;
  font-size: 31px;
  line-height: 150%;
  /* or 46px */

  color: #ffffff;
}
.rightSideButton {
  font-family: "CabinetGrotesk-Medium";
  background: #cef81b;
  border-radius: 56px;
  padding: 28px 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  color: #000000;
  margin-top: 100px;
  margin-left: 94px;
}

@font-face {
  font-family: "CabinetGrotesk-Light", sans-serif;
  src: url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
.decorBrain {
  position: absolute;
  width: 273px;
  height: 238px;
  right: 42px;
  top: 22px;
}
.decorbrainSecond {
  position: absolute;
  width: 71px;
  height: 135px;
  left: 1052px;
  top: 1012px;
}
.decorBrainThirt {
  position: absolute;
  width: 74px;
  height: 26px;
  left: 1070px;
  top: 418px;
}
.socorBrainfifth {
  position: absolute;
  width: 456.89px;
  height: 142.15px;
  left: 51.63px;
  top: 125.79px;
}
.aboutImg {
  width: 1922px;
  height: 1002px;
}
@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("../fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "KomiqueSans";
  src: url("../fonts/KomiqueSans-display.woff2") format("woff2"),
    url("../fonts/KomiqueSans-display.woff") format("woff"),
    url("../fonts/KomiqueSans-display.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
