html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
body {
  font-family: "Comic Sans", sans-serif;
  color: #000000;
  background: #cef81b;
  margin: 0;
}
.container {
  width: 1920px;
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
.link {
  text-decoration: none;
}

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.start {
}
.header-container {
  display: flex;
  align-items: center;
  width: 1606px;
  margin: 44px 117px 179px 197px;
}
.navigation {
}
.action {
  font-family: "CabinetGrotesk-Extrabold", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #000000;
  text-transform: uppercase;
}

.logo-header {
  width: 89px;
  height: 89px;
}
.nav-list {
  display: flex;
  gap: 120px;
  align-items: center;
  flex-direction: row;
}
.list {
}
.nav-items {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  line-height: 25px;

  text-transform: uppercase;

  color: #000000;
}
.hero-container {
  position: relative;
}
.lefy-side-hero {
  width: 800px;
  margin-left: 194px;
  margin-bottom: 180px;
}
.hero-text {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 149px;
  line-height: 125px;
  text-transform: uppercase;
  text-shadow: -10px -15px 0px #ffffff;
}
.second-hero-text {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 149px;
  line-height: 209px;

  text-shadow: -10px -15px 0px #ffffff;
  margin-left: 397px;
}
.hero-img-background {
  position: absolute;
  width: 788.17px;

  left: 934px;
  top: -196px;
}
.brain-img {
  position: absolute;
  width: 498.97px;
  left: 1113px;

  top: -156px;
}
.hero-text-paragraph {
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 49px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 38px;

  color: #000000;
}
.hero-arrow {
  width: 26px;
  margin-left: 935px;
  margin-bottom: 60px;
}

.contact-list {
  position: relative;
  left: 1800px;
  top: -507px;
}
@font-face {
  font-family: "CabinetGrotesk-Light", sans-serif;
  src: url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("../fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "KomiqueSans";
  src: url("../fonts/KomiqueSans-display.woff2") format("woff2"),
    url("../fonts/KomiqueSans-display.woff") format("woff"),
    url("../fonts/KomiqueSans-display.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
