html {
  box-sizing: border-box;
}
*,
*::before,
::after {
  box-sizing: inherit;
}
body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Comic Sans", sans-serif;
  color: #000000;
  background: #cef81b;
  margin: 0;
  align-items: center;
  overflow-x: hidden;
  /* костыль выше по overflow */
}
.container {

width: 390px;  
  margin-left: auto;
  margin-right: auto;

  align-items: center;
}
@media only screen and (min-width: 1200px) {
  .container {
    width: 1840px;
    margin-left: auto;
    margin-right: auto;

    align-items: center;
  }
   {
  }
}
.link {
  text-decoration: none;
}

h1,
h2,
h1,
p {
  margin: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.start {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .start {
    display: flex;
  }
   {
  }
}
.header-container {
  display: flex;
  align-items: center;
  max-width: 1606px;
  margin: 44px 117px 179px 197px;
}
.navigation {
  color: #fff;
}

.footerWhite {
  color: #fff;
}

.action {
  font-family: "CabinetGrotesk-Extrabold", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
}

.actionFooter {
  font-family: "CabinetGrotesk-Extrabold", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #fff;
  text-transform: uppercase;
}

.mobAction {
  font-family: "CabinetGrotesk-Extrabold", sans-serif;
  font-weight: 800;
  font-size: 28px;
  line-height: 80%;
  display: flex;
  align-items: center;
  margin-right: auto;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 0px;
}
.mobheader {
  display: block;
}
@media only screen and (min-width: 1200px) {
  .mobheader {
    display: none;
  }
   {
  }
}
.logo-header {
  margin-left: 15px;

  width: 89px;
  height: 89px;
}

.logo-footer {
  width: 89px;
  height: 89px;
}
.mobLogo-header {
  width: 89px;
  height: 89px;
}
.nav-list {
  display: flex;
  gap: 120px;
  align-items: center;
  flex-direction: row;
}

.navlistHeader a {
  text-decoration: none;
  color: #000000;
}

.logoFooter a {
  color: #fff;
}

.list {
}
.nav-items {
  font-family: "CabinetGrotesk-Medium";
  font-size: 20px;
  line-height: 25px;

  text-transform: uppercase;

  color: #000000;
}

.nav-itemsFooter {
  color: #fff;
}

.nav-itemsFooter a {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

.hero-container {
  position: relative;
}

.lefy-side-hero {
  width: 800px;
  margin-left: 194px;
  margin-bottom: 180px;
}
.hero-text {
  position: absolute;
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 60px;
  line-height: 50px;
  text-transform: uppercase;

  color: #000000;
  top: -149px;
  left: 39px;

  color: #000000;
  text-shadow: -10px -15px 0px #ffffff;
}
@media only screen and (min-width: 1200px) {
  .hero-text {
    position: static;
    font-family: "KomiqueSans", sans-serif;
    font-weight: 400;
    font-size: 149px;
    line-height: 125px;
    text-transform: uppercase;
    text-shadow: -10px -15px 0px #ffffff;
  }
   {
  }
}
.second-hero-text {
  position: absolute;
  font-family: "KomiqueSans", sans-serif;
  top: -97px;
  left: -167px;
  font-weight: 400;
  font-size: 60px;
  line-height: 84px;
  /* identical to box height */

  color: #000000;
  text-shadow: -10px -15px 0px #ffffff;
  margin-left: 397px;
}

@media only screen and (min-width: 1200px) {
  .second-hero-text {
    position: static;
    font-family: "KomiqueSans", sans-serif;
    font-weight: 400;
    font-size: 149px;
    line-height: 209px;

    text-shadow: -10px -15px 0px #ffffff;
    margin-left: 397px;
  }
   {
  }
}
.
.navMenuText{
  font-family: "CabinetGrotesk-Medium";
  font-weight: 500;
font-size: 22px;
line-height: 27px;
text-transform: uppercase;

color: #000000;
}
.hero-img-background {
  position: absolute;
  width: 261.94px;

  transform: scale(-1, 1);
  left: 25px;
  top: -46px;
  z-index: -99;
}
@media only screen and (min-width: 1200px) {
  .hero-img-background {
    position: absolute;
    width: 788.17px;
    transform: none;
    left: 934px;
    top: -196px;
    z-index: -99;
  }
   {
  }
}
.brain-img {
  position: absolute;
  width: 193.18px;
  left: 52.17000000000007px;
  top: -65.46000000000001px;
  transform: scale(-1, 1);
  transition: all 0.5s ease;
    animation: brainAnim 10s linear infinite;
}

@keyframes brainAnim {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .brain-img {
    position: absolute;
    width: 498.97px;
    left: 1113px;
    top: -156px;
    transform: none;
  }
   {
  }
}

.hero-text-paragraph {
  position: absolute;
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 125%;
  /* or 22px */

  text-align: center;
  text-transform: uppercase;

  color: #000000;
  margin-bottom: 38px;
  margin-left: 746px;
  top: 252px;
  left: -711px;
}

@media only screen and (min-width: 1200px) {
  .hero-text-paragraph {
    position: static;
    font-family: "CabinetGrotesk-Light", sans-serif;
    font-weight: 300;
    font-size: 39px;
    line-height: 49px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 38px;

    color: #000000;
    margin-left: 0px;
  }
   {
  }
}
.hero-arrow {
  position: absolute;
  width: 16px;
  margin-left: 0px;
  margin-bottom: 60px;
  top: 306px;
  left: 189px;
}
@media only screen and (min-width: 1200px) {
  .hero-arrow {
    position: static;
    width: 26px;
    margin-left: 935px;
    margin-bottom: 60px;
  }
   {
  }
}

.contact-list {
}



.black-section {
  position: relative;
  width: 390px;
  margin: 457px 0px 0px 0px;
  background-color: #282828;
  border-radius: 110px;
}
 
@media only screen and (min-width: 1200px) {
  .black-section {
    position: relative;
    width: 1840px;
    margin: 0px 40px 0px 40px;
    background-color: #282828;
    border-radius: 110px;
  }
   {
  }
}

.heroBackSeaction {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  /* or 40px */

  text-align: center;
  color: transparent;
  -webkit-text-stroke: 2px #cef81b;
  padding-top: 160px;
  margin-bottom: 61px;
}

@media only screen and (min-width: 1200px) {
  .heroBackSeaction {
    font-family: "KomiqueSans", sans-serif;
    font-weight: 400;
    font-size: 95px;
    line-height: 100%;

    text-align: center;
    color: transparent;
    -webkit-text-stroke: 2px #cef81b;
    padding-top: 160px;
    margin-bottom: 61px;
  }
   {
  }
}
.brainContent {
  display: flex;
}

.leftSideBlackImg {
  position: absolute;
  width: 315px;
  height: 329px;
  left: 36px;
  top: 548px;

}


@media only screen and (min-width: 1200px) {
  .leftSideBlackImg {
    position: static;
    margin-left: 160px;
    margin-right: 75.64px;
    max-width: 832.36px;
    max-height: 894px;
    margin-bottom: 1432px;
    width: 832.36px;
    height: 894px;
  }
   {
  }
}
.rightSideBlack {
}
.rightSideHeroText {
  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* or 24px */

  text-transform: uppercase;

  color: #cef81b;
  margin-left: 16px;
}
@media only screen and (min-width: 1200px) {
  .rightSideHeroText {
    font-family: "KomiqueSans", sans-serif;
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;

    text-transform: uppercase;

    color: #cef81b;
    margin-left: 94px;
  }
   {
  }
}

.rightSideTxt {
  font-family: "CabinetGrotesk-Light", sans-serif;
  max-width: 623px;
  font-weight: 300;
  font-size: 18px;
  line-height: 125%;
  /* or 22px */

  color: #ffffff;
  padding: 10px;
}

@media only screen and (min-width: 1200px) {
  .rightSideTxt {
    font-family: "CabinetGrotesk-Light", sans-serif;
    font-weight: 300;
    font-size: 31px;
    line-height: 150%;
    /* or 46px */
    padding: 0px;
    color: #ffffff;
  }
}
.rightSideButton {
  font-family: "CabinetGrotesk-Medium";
  background: #cef81b;
  border-radius: 56px;
  padding: 28px 80px;
  font-weight: 500;
  font-size: 20px;
  line-height: 25px;
  text-transform: uppercase;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 56px;
  color: #000000;
  margin-top: 344px;
  margin-left: 67px;
}

.rightSideButton a {
  color: #fff;
  text-decoration: none;
}

.rightSideButton:hover {
  opacity: 0.8;
}

@media only screen and (min-width: 1200px) {
  .rightSideButton {
    font-family: "CabinetGrotesk-Medium";
    background: #cef81b;
    border-radius: 56px;
    padding: 28px 80px;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: uppercase;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 56px;
    color: #000000;
    margin-top: 100px;
    margin-left: 94px;
  }
   {
  }
}
.decorBrain {
  position: absolute;
  width: 149.26px;
  height: 130.13px;
  right: -9px;
  top: 6.2099999999999795px;
  transition: all 0.5s ease;
    animation: moonAnim 5s linear infinite;
}

@keyframes moonAnim {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@media only screen and (min-width: 1200px) {
  .decorBrain {
    position: absolute;
    width: 273px;
    height: 238px;
    right: 42px;
    top: 22px;
  }
   {
  }
}
.decorbrainSecond {
  position: absolute;
  width: 46px;
  height: 87.46px;
  left: 11px;
  top: 911px;
}
@media only screen and (min-width: 1200px) {
  .decorbrainSecond {
    position: absolute;
    width: 71px;
    height: 135px;
    left: 1052px;
    top: 1012px;
    transition: all 0.5s ease;
    animation: crystalAnim 5s linear infinite;
  }
   {
  }
}

@keyframes crystalAnim {
  0% {
    left: 1052px;
    margin: 0;
  }
  25% {
    left: 1152px;
  }
  50% {
    left: 1052px;
  }
  75% {
    left: 1152px;
  }
  100% {
    left: 1052px;
  }
}

.decorBrainThirt {
  position: absolute;
  width: 74px;
  height: 26px;
  left: 20px;
    top: 264px;
}
.socorBrainfifth {
  position: absolute;
  width: 158px;
  left: -65px;
  top: 62px;
}

@media only screen and (min-width: 1200px) {
  .socorBrainfifth {
    position: absolute;
    width: 456.89px;
    height: 142.15px;
    left: 51.63px;
    top: 125.79px;
  }
   {
  }
}
.aboutImg {
  display: none;
  position: absolute;
  width: 1922px;
  left: -41px;
  top: 1562px;
}
@media only screen and (min-width: 1200px) {
  .aboutImg {
    display: block;
    position: absolute;
    width: 1922px;
    left: -41px;
    top: 1562px;
  }
   {
  }
}




.aboutImgMob {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .aboutImgMob {
    display: block;
    position: absolute;
    width: 430px;
    left: -20px;
    top: 1045px;
  }
   {
  }
}
.uncertainCOntainer {
  display: block;
  position: relative;
  margin-left: 0px;
  margin-top: -10px;
}
@media only screen and (min-width: 1200px) {
  .uncertainCOntainer {
    display: block;
    position: relative;
    margin-left: 54px;
    margin-top: -10px;
  } {
    
  }
}
.uncertainHeroMob {
  display: none;
}
@media only screen and (max-width: 1199px) {
  .uncertainHeroMob {
    display: block;
    position: absolute;
    width: 380px;
    left: 0px;
    top: 414px;
  }
   {
  }
}
.uncertainHero {
  display: none;
  max-width: 1409px;

  font-family: "KomiqueSans", sans-serif;
  font-weight: 400;
  font-size: 95px;
  line-height: 100%;
  text-transform: uppercase;

  text-align: left;
  color: transparent;
  -webkit-text-stroke: 2px #cef81b;
  padding-top: 77px;
  margin-right: 352.8px;
}
@media only screen and (min-width: 1200px) {
  .uncertainHero {
    display: block;
    max-width: 1409px;

    font-family: "KomiqueSans", sans-serif;
    font-weight: 400;
    font-size: 95px;
    line-height: 100%;
    text-transform: uppercase;

    text-align: left;
    color: transparent;
    -webkit-text-stroke: 2px #cef81b;
    padding-top: 160px;
    margin-right: 352.8px;
  }
   {
  }
}
.uncertainContent {
  display: flex;
}

.uncertainText {
  font-family: "CabinetGrotesk-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 150%;
  /* or 46px */

  color: #ffffff;
  max-width: 331px;
  max-height: 188px;
  margin-bottom: 30px;
  margin-left: 10px;
      margin-top: 982px;
}
@media only screen and (min-width: 1200px) {
  .uncertainText {
    font-family: "CabinetGrotesk-Light";
    font-weight: 300;
    font-size: 31px;
    line-height: 150%;
    /* or 46px */

    color: #ffffff;
    max-width: 585px;
    max-height: 188px;
    margin-bottom: 30px;
    margin-left: 227px;
    margin-top: 160px;
  }
   {
  }
}
.uncertainText-second {
  display: none;
  font-family: "CabinetGrotesk-Light";
  font-weight: 300;
  font-size: 31px;
  line-height: 150%;
  /* or 46px */

  color: #ffffff;
  max-width: 585px;
  max-height: 188px;
  margin-left: 227px;
}
@media only screen and (min-width: 1200px) {
  .uncertainText-second {
    display: block;
    font-family: "CabinetGrotesk-Light";
    font-weight: 300;
    font-size: 31px;
    line-height: 150%;
    /* or 46px */

    color: #ffffff;
    max-width: 585px;
    max-height: 188px;
    margin-left: 227px;
  }
   {
  }
}

.uncertainImg {
  width: 429px;
  height: 403px;
  margin-top: 2px;
  margin-left: -17px;
  margin-bottom: 631px;
}

@media only screen and (min-width: 1200px) {
  .uncertainImg {
    width: 878px;
    height: 878px;
    margin-top: -539px;
    margin-left: 825px;
    margin-bottom: 661px;
  }
   {
  }
}
.uncertainHeroSpan {
  color: #cef81b;
}
.seconduncertainHeroSpan {
}
.uncertainDecor {
  display: none;
  position: absolute;
  width: 244px;
  height: 299.65px;
  left: 763.13px;
  top: 1189.85px;
}

@media only screen and (min-width: 1200px) {
  .uncertainDecor {
    display: block;
    position: absolute;
    width: 244px;
    height: 299.65px;
    left: 763.13px;
    top: 1189.85px;
    transition: all 0.5s ease;
    animation: rotateLogo 5s linear infinite;
  }
   {
  }
}

@keyframes rotateLogo {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.tokenoomicsImg {
  display: none;
  position: absolute;
  left: -108px;
  top: 1544px;
}
@media only screen and (min-width: 1200px) {
  .tokenoomicsImg {
    display: block;
    position: absolute;
    left: -100px;
    top: 1544px;
  }
   {
  }
}
/* Token Distribution: */
.tokenoomicsImgMob {
  display: none;
  position: absolute;
  width: 468px;
}
@media only screen and (max-width: 1199px) {
  .tokenoomicsImgMob {
    display: block;
    position: absolute;
    width: 468px;
    top: 1499px;
    left: -56px;
  }
}
 {
}
.mobtokenCon {
  margin-top: -400px;
  margin-left: -42px;
}


@media only screen and (min-width: 1200px) {
  .mobtokenCon {
    display: block;
    margin-top: 117px;
     {
    
  }
}margin-left: -25px;
}
.tokenDistribution {
  position: relative;
  max-width: 1704px;
  margin-left: 56px;
  margin-right: 80px;
  padding-bottom: 160px;
}

.tokenDistFirstHero {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  text-align: center;
  text-transform: uppercase;
  text-transform: uppercase;

  color: #cef81b;
  margin-bottom: 7px;
}

@media only screen and (min-width: 1200px) {
  .tokenDistFirstHero {
    font-family: "KomiqueSans";
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    /* identical to box height, or 48px */

    text-align: center;
    text-transform: uppercase;

    color: #cef81b;
    margin-bottom: 7px;
  }
   {
  }
}
.tokenDistSecondtHero {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 40px;
  line-height: 100%;
  /* identical to box height, or 40px */

  text-align: center;

  color: #cef81b;
  margin-bottom: 26px;
}

@media only screen and (min-width: 1200px) {
  .tokenDistSecondtHero {
    font-family: "KomiqueSans";
    font-weight: 400;
    font-size: 95px;
    line-height: 100%;
    /* identical to box height, or 95px */

    text-align: center;

    color: #cef81b;
    margin-bottom: 26px;
  }
   {
  }
}
.tokenDistThirtHero {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px #cef81b;
  margin-bottom: 72px;
}
@media only screen and (min-width: 1200px) {
  .tokenDistThirtHero {
    font-family: "KomiqueSans";
    font-weight: 400;
    font-size: 48px;
    line-height: 100%;
    /* identical to box height, or 48px */

    text-align: center;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px #cef81b;
    margin-bottom: 72px;
  }
   {
  }
}
.ventureHR {
  height: 0px;
  width: 350px;
  border: 1px solid #cef81b;
  margin-left: -18px;
  margin-bottom: 17px;
}
@media only screen and (min-width: 1200px) {
  .ventureHR {
    height: 0px;
    width: 1520px;
    border: 1px solid #cef81b;
    margin-left: 160px;
    margin-bottom: 90px;
  }
   {
  }
}
.tokenDistImg {
  width: 388px;
  height: 163px;
  margin-left: -34px;
  margin-right: 28px;
  margin-bottom: 53px;
}

@media only screen and (min-width: 1200px) {
  .tokenDistImg {
    width: 1704px;
    height: 713px;
    margin-left: 56px;
    margin-right: 80px;
    margin-bottom: 117px;
  }
   {
  }
}
.tokenDistText {

  font-family: "CabinetGrotesk-Light";
  font-weight: 300;
  font-size: 18px;
  line-height: 27px;

  color: #b0b0b0;
  margin-left: -14px;
  margin-right: 112px;
  margin-bottom: 5px;
}
@media only screen and (min-width: 1200px) {
  .tokenDistText {
    font-family: "CabinetGrotesk-Light";
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    
    color: #B0B0B0;
    margin-left: 160px;
    margin-right: 160px;
    margin-bottom: 90px;
  }
   {
  }
}
.ventureHRSecond {
  height: 0px;
  width: 350px;
  border: 1px solid #cef81b;
  margin-left: -16px;
}
@media only screen and (min-width: 1200px) {
  .ventureHRSecond {
    height: 0px;
    width: 1520px;
    border: 1px solid #cef81b;
    margin-left: 160px;
  }
   {
  }
}

/* roadmap */
.roadmap {
  position: relative;
  max-width: 1544px;
}

.roadmapCar {
  position: absolute;
  width: 603px;
  height: 252px;
  left: -232px;
  top: -163px;
}
@media only screen and (min-width: 1200px) {
  .roadmapCar {
    position: absolute;
    width: 1774px;
    height: 743px;
    left: -847px;
    top: -251px;
  }
   {
  }
}
.mobvs {
  display: block;
}
@media only screen and (max-width: 1199px) {
  .mobvs {
    display: none;
  }
   {
  }
}

.mobSection {
  display: block;
  position: absolute;
  top: -2px;
  left: -12px;
}

@media only screen and (min-width: 1200px) {
  .mobSection {
    display: none;
  }
   {
  }
}
.roadmapHero {
  display: none;
  position: relative;
  font-family: "CabinetGrotesk-Medium";
  margin-top: 425.35px;
  margin-left: 222px;

  font-weight: 500;
  font-size: 240px;
  line-height: 150%;
  /* identical to box height, or 360px */

  text-transform: uppercase;
  text-align: center;

  color: #ffffff;
  z-index: 999;
}
@media only screen and (min-width: 1200px) {
  .roadmapHero {
    display: block;
    position: relative;
    font-family: "CabinetGrotesk-Medium";
    margin-top: 286.35px;
    margin-left: -292px;

    font-weight: 500;
    font-size: 240px;
    line-height: 150%;
    /* identical to box height, or 360px */

    text-transform: uppercase;
    text-align: center;

    color: #ffffff;
    z-index: 999;
  }
   {
  }
}
.roadmapheroImg {
  width: 1355.31px;
  position: absolute;
  left: 113px;
  top: 147px;
}
.roadmapList {
  display: flex;
}
.roadmap-items-first {
  position: relative;
  max-width: 450px;
  max-height: 419px;
  background: #1b1b1b;
  border-radius: 54.729px;
  margin-left: 208px;
  padding: 47.6px 67px 60px 46px;
  margin-top: 235px;
  margin-left: 0px;
}
.roadmap-items-hero {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* identical to box height, or 48px */
  text-align: center;
  text-transform: uppercase;

  color: #cef81b;
  margin-bottom: 75.4px;
}
.roadmapItemsTExt {
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 20px;
  line-height: 140.5%;
  /* or 28px */

  text-align: center;

  color: #ffffff;
}
.roadmap-items-second {
  position: relative;
  width: 488px;
  max-height: 524.49px;
  background: #1b1b1b;
  border-radius: 54.729px;
  margin-left: 154px;
  padding: 60px 80px 61px 54px;
  margin-top: 174px;
}
.roadmap-items-thirt {
  width: 450px;
  background: #1b1b1b;
  border-radius: 54.729px;
  margin-left: 105px;
  padding: 45px 14px 60px 28px;
  margin-top: 252px;
}
.roadmapList {
  margin-bottom: 343px;
}
.roadmapDecor {
  position: absolute;
  top: 876px;
  left: -28px;
  width: 436px;
  height: 449px;
}
.roadmapDecorSecond {
  position: absolute;
  width: 491.85px;
  height: 575.07px;
  left: 542px;
  top: 791px;
}
.roadmapDecorThirt {
  position: absolute;
  width: 484px;
  height: 611px;
  left: 1127px;
  top: 867px;
}

.howToBuyCont {
  display: block;
  position: relative;
  max-width: 1521px;
  margin-left: 200px;
  margin-right: 191px;
}
@media only screen and (max-width: 1199px) {
  .howToBuyCont {
    display: none;
    position: relative;
    max-width: 1521px;
    margin-left: 200px;
    margin-right: 191px;
  }
   {
  }
}
.sectionImgSecond {
  display: block;
  width: 430px;
  margin-top: 1097px;
    margin-left: 2px;
}
@media only screen and (min-width: 1200px) {
  .sectionImgSecond {
    display: none;
  }
}

.smileDecor {
  position: absolute;
  width: 437.25px;
  height: 435px;
  left: -280px;
  top: 1548px;
  transition: all 0.5s ease;
  animation: smileAnim 5s linear infinite;
}

@keyframes smileAnim {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.howTObuyHEro {
  margin-left: 313px;
  margin-top: -81px;}

.howtoBaycontent {
  display: flex;
}
.howTobuyLeft {
  margin-right: 221px;
  margin-top: 81px;
}
.list {
}
.howtobayLeftItems {
}
.leftItemsText {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  text-transform: uppercase;
  text-shadow: -6px -1px 0px #ffffff;
  color: #000000;
  margin-bottom: 273px;
}
.leftItemsTextSecond {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  text-transform: uppercase;
  text-shadow: -6px -1px 0px #ffffff;

  color: #000000;
  margin-bottom: 328px;
}
.leftItemsTextthirt {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  text-transform: uppercase;
  text-shadow: -6px -1px 0px #ffffff;

  color: #000000;
  margin-bottom: 358px;
}
.leftItemsTextFOur {
  font-family: "KomiqueSans";
  font-weight: 400;
  font-size: 48px;
  line-height: 100%;
  /* or 48px */

  text-transform: uppercase;
  text-shadow: -6px -1px 0px #ffffff;

  color: #000000;
}

.howTobuyrightSide {
  display: grid;
  gap: 20px;
  margin-top: 81px;
}
.rigthsideitems {
  max-width: 1200px;
  background: #000000;
  border-radius: 60px;
  padding: 60px 40px;
}
.rightsidetext {
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 31px;
  line-height: 150%;
  /* or 46px */

  color: #ffffff;
}

/* Faq */

.faqBox {
  font-family: "CabinetGrotesk-Bold";
  width: 300px;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
  margin-top: 260px;
  margin-bottom: 18px;
  margin-left: -248px;
}
@media only screen and (min-width: 1200px) {
  .faqBox {
    font-family: "CabinetGrotesk-Bold";
    width: 1520px;
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;
    margin-left: 0px;

    color: #ffffff;
    margin-top: 260px;
    margin-bottom: 18px;
  }
   {
  }
}
.faq {
  margin-left: 245px;
}

details {
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 125%;
  margin-bottom: 40px;
}
.faqtext {
  width: 232.28px;
  font-family: "CabinetGrotesk-Bold";
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;

  color: #ffffff;
}
@media only screen and (min-width: 1200px) {
  .faqtext {
    width: 868px;
    font-family: "CabinetGrotesk-Bold";
    font-weight: 700;
    font-size: 31px;
    line-height: 38px;
    text-align: center;
    text-transform: uppercase;

    color: #ffffff;
  }
   {
  }
}
summary {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 50px 50px 72px;
  background: rgba(0, 0, 0, 0.05);
  border-radius: 30px;
  width: 261px;
  justify-content: space-between;
  transition: height 1s ease;
  text-transform: uppercase;
  text-align: left;
}
@media only screen and (min-width: 1200px) {
  summary {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 100px 50px 100px;
    background: rgba(0, 0, 0, 0.05);
    border-radius: 30px;
    width: 1000px;
    justify-content: space-between;
    transition: height 1s ease;
    text-transform: uppercase;
    text-align: left;
  }
   {
  }
}

.summaryAnswer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 64px;
  font-family: "Neue Machina";
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 180%;
}

.answerImg {
  position: absolute;
  right: 100px;
  z-index: -1;
}

.answerText {
  font-family: "CabinetGrotesk-Light", sans-serif;
  width: 600px;
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  padding-left: 0px;

  color: #ffffff;
}
@media only screen and (min-width: 1200px) {
  .answerText {
    font-family: "CabinetGrotesk-Light", sans-serif;
    width: 600px;
    font-weight: 300;
    font-size: 48px;
    line-height: 60px;
    text-align: center;
    padding-left: 0px;

    color: #ffffff;
  }
   {
  }
}

summary::-webkit-details-marker {
  display: none;
}

summary:after {
  height: 80px;
  width: 80px;
  display: flex;
  content: "\2192";
  align-items: center;
  justify-content: center;
  font-size: 50px;
  line-height: 50px;
  background: #ffffff;
  border-radius: 86px;
  color: #000000;
}

details[open] summary {
  /* border-bottom: 1px solid #aaa; */
  /* margin-bottom: 20px; */
}

details[open] summary:after {
  content: "\00D7";
}

details[open] div {
  padding: 12px 61px;
}
@media only screen and (min-width: 1200px) {
  details[open] div {
    padding: 50px 100px;
  }
   {
  }
}
.faqcontainer {
  position: relative;
  max-width: 390px;
  margin-left: 0px;
  margin-right: 0px;
  background: #151515;
  border-radius: 60px;
  margin-top: -234px;}
@media only screen and (min-width: 1200px) {
  .faqcontainer {
    position: relative;
    max-width: 1840px;
    margin-left: 40px;
    margin-right: 40px;
    background: #151515;
    border-radius: 60px;
    margin-top: 0px;
  }
   {
  }
}
.herofaq {
  width: 228px;
  height: 107px;
  margin-left: 329px;
  margin-bottom: 78px;
}
@media only screen and (min-width: 1200px) {
  .herofaq {
    width: 957.71px;
    height: 387px;
    margin-left: 329px;
    margin-bottom: 78px;
  }
   {
  }
}
.UnlockingPossibilities {
  width: 430px;
  position: relative;
}
.UnlockingHero {
  display: none;
  font-family: "KomiqueSans";
  text-shadow: -10px -15px 0px #ffffff;
  margin-top: 262px;
  margin-left: 490px;
  font-weight: 400;
  font-size: 95px;
  line-height: 100%;
  /* identical to box height, or 95px */

  color: #000000;
  margin-bottom: 666px;
}
@media only screen and (min-width: 1200px) {
  .UnlockingHero {
    display: block;
    font-family: "KomiqueSans";
    text-shadow: -10px -15px 0px #ffffff;
    margin-top: 272px;
    margin-left: -23px;
    font-weight: 400;
    font-size: 95px;
    line-height: 100%;
    /* identical to box height, or 95px */

    color: #000000;
    margin-bottom: 666px;
  }
   {
  }
}
.heroimgUnlock {
  display: none;
  
  position: absolute;
  width: 478px;
  height: 178px;
  left: -13px;
  top: 306px;
}

@media only screen and (min-width: 1200px) {
  .heroimgUnlock{
    display: block;
    position: absolute;
    width: 2076.65px;
    height: 524.63px;
    left: -796px;
    top: 577px;
  }
   {
  }
}
.heroimgUnlockMob{
  display: none;
  position: absolute;
  width: 478px;
  height: 178px;
  left: -13px;
  top: 306px;

}
@media only screen and (max-width: 1199px) {
  .heroimgUnlockMob{
    display: block;
    position: absolute;
    width: 407px;
    height: 192px;
    left: 11px;
    top: 306px;
}
  
  } {
    
  }
}
.mobVer {
  display: none;
}
@media only screen and (min-width: 1200px) {
  .mobVer {
    display: block;
  }
   {
  }
}
.secMob {
  display: block;
  margin-top: 489px;
}
@media only screen and (min-width: 1200px) {
  .secMob {
    display: none;
  }
   {
  }
}
.firstunlokigtext {
  display: none;
  width: 937px;
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 48px;
  margin-left: -204px;
  color: #000000;
  margin-bottom: 60px;
}
@media only screen and (min-width: 1200px) {
  .firstunlokigtext {
    display: block;
    width: 937px;
    font-family: "CabinetGrotesk-Light", sans-serif;
    font-weight: 300;
    font-size: 39px;
    line-height: 48px;
    margin-left: -204px;
    color: #000000;
    margin-bottom: 60px;
  } {
    
  }
}
.secondunloktext {
  display: none;
  width: 812px;
  font-family: "CabinetGrotesk-Light", sans-serif;
  font-weight: 300;
  font-size: 39px;
  line-height: 48px;
  margin-left: -52px;
  color: #000000;
  margin-bottom: 56.62px;
}
@media only screen and (min-width: 1200px) {
  .secondunloktext {
    display: block;
    width: 812px;
    font-family: "CabinetGrotesk-Light", sans-serif;
    font-weight: 300;
    font-size: 39px;
    line-height: 48px;
    margin-left: -52px;
    color: #000000;
    margin-bottom: 56.62px;
  } {
    
  }
}
.thirtUnlokTExt {
  display: none;
  font-family: "CabinetGrotesk-Light", sans-serif;
  width: 343px;
  font-weight: 300;
  font-size: 20px;
  line-height: 140.5%;
  /* or 28px */
  margin-left: 28px;
  color: #000000;
}
@media only screen and (min-width: 1200px) {
  .thirtUnlokTExt {
    display: block;
    font-family: "CabinetGrotesk-Light", sans-serif;
    width: 343px;
    font-weight: 300;
    font-size: 20px;
    line-height: 140.5%;
    /* or 28px */
    margin-left: 28px;
    color: #000000;
  } {
    
  }
}
.unlockDecor {
  display: none;

  position: absolute;
  width: 434.64px;

  left: -22px;
  top: 1511.38px;
}
@media only screen and (min-width: 1200px) {
  .unlockDecor {
    display: block;
    position: absolute;
    width: 434.64px;
  
    left: -22px;
    top: 1511.38px;
  } {
    
  }
}

.unlockDecorSecond {
  display: none;
  position: absolute;
  width: 360px;
  height: 467.05px;
  left: 921px;
  top: 272px;
}

@media only screen and (min-width: 1200px) {
  .unlockDecorSecond {
    display: block;
    position: absolute;
    width: 360px;
    height: 467.05px;
    left: 921px;
    top: 272px;
  } {
    
  }
}

.logo-link-hero {
  display: none;
  position: absolute;
  left: 1772px;
  top: 621px;
}
@media only screen and (min-width: 1200px) {
  .logo-link-hero {
    display: block;
    position: absolute;
    left: 1772px;
    top: 621px;
  } {
    
  }
}
.logo-link-hero-second {
  display: none;
  position: absolute;
  left: 1772px;
  top: 702px;
}
@media only screen and (min-width: 1200px) {
  .logo-link-hero-second {
    display: block;
    position: absolute;
    left: 1772px;
    top: 702px;
  } {
    
  }
}
.unlockDecorThirt {
  position: absolute;
  width: 438px;
  height: 291.53px;
  left: -12px;
  top: 0px;
}
@media only screen and (min-width: 1200px) {
  .unlockDecorThirt {
    position: absolute;
    width: 438px;
    height: 291.53px;
    left: -752px;
    top: -0px;
    transition: all 0.5s ease;
    animation: secondSmileAnim 5s linear infinite;
  }
   {
  }
}

@keyframes secondSmileAnim {
  0% {
    transform: rotate(0deg);
    margin: 0;
  }
  25% {
      transform: rotate(10deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
      transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.unlockDecor-fourt {
  position: absolute;
  width: 271px;
  height: 149px;
      left: -727px;
      top: 1117.38px;
}
.unlockDecorFift {
  position: absolute;
  width: 283px;
  height: 149px;
  left: -568px;
  top: 1342.38px;
}

.imgButton {
  position: relative;
}

.Illustration {
  display: none;
  width: 1920px;
  height: 1210px;
  margin-top: 160px;
  margin-left: 0px;
}
@media only screen and (min-width: 1200px) {
  .Illustration {
    display: block;
    width: 1920px;
    height: 1210px;
    margin-top: 160px;
margin-left: -51px;  }
   {
  }
}
.mobIllustration {
  margin-left: -21px;
  display: block;
  width: 430px;
  height: 398px;
}
@media only screen and (min-width: 1200px) {
  .mobIllustration {
    display: none;
    width: 430px;
    height: 398px;
  }
   {
  }
}

.brainFooter {
  display: none;
  padding-top: 29px;
  width: 1920px;
  background: #151515;
  height: 238px;
}
@media only screen and (min-width: 1200px) {
  .brainFooter {
    display: flex;
    padding-top: 78px;
    width: 1920px;
    background: #151515;
    height: 238px;
  }
   {
  }
}
.contact-list-button {
}

  }
}
.header-footer-container {
  display: flex;
  align-items: center;
  width: 1606px;
  margin: -38px 117px 179px 197px;
}
.navigation-footer {
  display: flex;
  color:#fff;
}

.mobFootercontainer {
  position: relative;
  display: flex;
  width: 430px;
  height: 100px;
  background-color: #151515;
}

@media only screen and (min-width: 1200px) {
  .mobFootercontainer {
    display: none;
    position: static;

    width: 430px;
    height: 100px;
    background-color: #151515;
  }
   {
  }
}

.logo-link-button-first {
  display: none;
  position: absolute;
  left: 1772px;
  top: 621px;
}
@media only screen and (min-width: 1200px) {
  .logo-link-button-first  {
    display: block;
    position: absolute;
    left: 528px;
        top: 17080px;
  } {
    
  }
}
.logo-link-button-second {
  display: none;
  position: absolute;
  left: 1772px;
  top: 702px;
}
@media only screen and (min-width: 1200px) {
  .logo-link-button-second {
    display: block;
    position: absolute;
    left: 442px;
    top: 17080px;
  } } 
    
    
  .MOblogo-link-button-first {
    display: none;
    position: absolute;
    left: 1772px;
    top: 621px;
  }
  @media only screen and (max-width: 1199px) {
    .MOblogo-link-button-first  {
      display: block;
      position: absolute;
      left: 240px;
      top: 8px;
    } {
      
    }
  }
  .MOblogo-link-button-second {
    display: none;
    position: absolute;
    left: 1772px;
    top: 702px;
  }
  @media only screen and (max-width: 1199px) {
    .Moblogo-link-button-second {
      display: block;
      position: absolute;
      left: 319px;
      top: 8px;
    } } 
      
      

@font-face {
  font-family: "CabinetGrotesk-Light", sans-serif;
  src: url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Medium";
  src: url("../fonts/CabinetGrotesk-Medium.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Medium.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Medium.ttf") format("truetype");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Bold";
  src: url("../fonts/CabinetGrotesk-Bold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Bold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Bold.ttf") format("truetype");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: "CabinetGrotesk-Extrabold";
  src: url("../fonts/CabinetGrotesk-Extrabold.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Extrabold.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Extrabold.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "CabinetGrotesk-Light";
  src: url("../fonts/CabinetGrotesk-Light.woff2") format("woff2"),
    url("../fonts/CabinetGrotesk-Light.woff") format("woff"),
    url("../fonts/CabinetGrotesk-Light.ttf") format("truetype");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "KomiqueSans";
  src: url("../fonts/KomiqueSans-display.woff2") format("woff2"),
    url("../fonts/KomiqueSans-display.woff") format("woff"),
    url("../fonts/KomiqueSans-display.ttf") format("truetype");
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}